dist/
bin
output
paper/build
paper/paper.pdf

# graphs
*.jpg
*.jpeg
*.png

# integration tests output some .txt files
*.txt

# simulation output files
*.csv
*.csv[#]

# intellij IDE
.idea/
cloudworkflowsimulator.iml

