dist/
bin
output
paper/build
paper/paper.pdf

# graphs
*.jpg
*.jpeg
*.png

# simulation usual outputs
*.txt
*.log
*.postlog
*.dat
*.csv
*.csv[#]

# intellij IDE
.idea/
cloudworkflowsimulator.iml

# vi
*.swp

# python
*.pyc

# workspace
.DS_Store
SyntheticWorkflows
dags_local

# test outputs
test_results/
junit*.properties
junitvmwatcher*.properties

test_bin
testSimulationTest